@tailwind base;
/* Start purging... */

@tailwind components;
@tailwind utilities;
/* Stop purging. */

@layer components {
  .btn-primary {
    @apply rounded-md bg-primary-500 px-4 py-2 text-sm text-white hover:bg-primary-700 focus:bg-primary-700 focus:outline-none disabled:bg-primary-200 disabled:text-primary-500 md:text-base;
  }
  .btn-secondary {
    @apply rounded-md px-4 py-2 text-sm text-current text-primary-700 ring-2 ring-primary-700 hover:bg-primary-700 hover:text-white focus:bg-primary-700 focus:text-white focus:outline-none disabled:bg-primary-200 disabled:text-primary-500 md:text-base;
  }
  .btn-lg {
    @apply px-8 py-2.5 text-base md:text-lg;
  }
  .title {
    @apply text-3xl font-extrabold md:text-6xl;
  }
  .sm-title {
    @apply text-2xl font-extrabold md:text-5xl;
  }
  .link {
    @apply relative w-fit font-semibold after:absolute after:top-full after:block after:h-0.5 after:w-0 after:bg-primary-500 after:transition-all hover:text-primary-500 hover:after:w-full;
  }
}

html,
body {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
  @apply m-0 bg-white p-0 text-base text-gray-800 dark:bg-black-500 dark:text-gray-300;
}

/* html.dark {
  @apply bg-black-500;
} */

* {
  scrollbar-width: thin;
}
*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50rem;
}

*::-webkit-scrollbar-track {
  @apply bg-black-100;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full border-2 border-black-300 bg-black-300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  @apply text-sm;
}

h1 {
  @apply text-xl font-bold md:text-3xl;
}
h2 {
  @apply text-lg font-semibold md:text-2xl;
}
h3 {
  @apply text-base font-semibold md:text-xl;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  @apply my-2;
}
.article p,
.article img,
.article pre,
.article blockquote,
.article code,
.article ul,
.article ol {
  @apply my-5;
}
.single-post-image-wrapper {
  height: 500px;
}
ul {
  @apply list-disc pl-4;
}
li {
  @apply my-4;
}
ol {
  @apply list-decimal pl-4;
}

@media (max-width: 500px) {
  .single-post-image-wrapper {
    height: 200px;
  }
}
